SALESFORCE_CLIENT_ID="<salesforce_client_id>"
SALESFORCE_CLIENT_SECRET="<salesforce_client_secret>"
SALESFORCE_USERNAME="<salesforce_username>"
SALESFORCE_PASSWORD="<salesforce_password>"
SALESFORCE_SECURITY_TOKEN="<salesforce_security_token>"
# Set this to make local development easier by bypassing SSO cookie validation
# DEV_USER_UUID="f8a6b8b8-32f7-4b4d-b6f9-054ab6fb5623"
ACCOUNTS_URL="https://dev.accounts.openstax.org" # or http://localhost:2999
SSO_COOKIE_NAME="oxa" # oxa_dev, oxa_staging, oxa_production or other custom value (default is oxa)
# Set these to the public key and private key for SSO cookie validation
SSO_SIGNATURE_PUBLIC_KEY="<signature_public_key>"
SSO_ENCRYPTION_PRIVATE_KEY="<encryption_private_key>"
# Set these to the OAuth client id and secret for Accounts API
# These are used to get the user info from Accounts API
ACCOUNTS_CLIENT_ID="<oauth_client_id>"
ACCOUNTS_CLIENT_SECRET="<oauth_client_secret>"
# Set this to the Sentry DSN for error tracking
# Not required and will cause a lot of noise in Sentry
SENTRY_DSN="<sentry_dsn>"
# Set this to the secret key for Django
# This is used to sign the session cookie
SECRET_KEY="<secret_key>"