name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
    lint:
        runs-on: ubuntu-latest
        timeout-minutes: 5

        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Set up Python
          uses: actions/setup-python@v5
          with:
              python-version-file: '.python-version'

        - name: Install ruff
          run: pip install ruff

        - name: Run ruff check
          run: ruff check .

        - name: Run ruff format check
          run: ruff format --check .

    tests:
        runs-on: ubuntu-latest
        timeout-minutes: 30
        needs: lint

        services:
          postgres:
            image: postgres:14
            env:
              POSTGRES_USER: sfapi
              POSTGRES_PASSWORD: sfapi
              POSTGRES_DB: sfapi
            ports:
              - 5432:5432
            options: >-
              --health-cmd pg_isready
              --health-interval 10s
              --health-timeout 5s
              --health-retries 5
          redis:
            image: redis
            ports:
              - 6379:6379
            options: >-
              --health-cmd "redis-cli ping"
              --health-interval 10s
              --health-timeout 5s
              --health-retries 5

        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Set up Python and install dependencies
          uses: actions/setup-python@v5
          with:
              cache: 'pip'
              python-version-file: '.python-version'
              cache-dependency-path: requirements/test.txt
        - run: pip install -r requirements/test.txt

        - name: Run tests and generate coverage reports
          run: coverage run --source='.' manage.py test --settings=sfapi.settings.test
          env:
            SECRET_KEY: ${{ secrets.SECRET_KEY }}
            SSO_SIGNATURE_PUBLIC_KEY: ${{ secrets.SSO_SIGNATURE_PUBLIC_KEY }}
            SSO_ENCRYPTION_PRIVATE_KEY: ${{ secrets.SSO_ENCRYPTION_PRIVATE_KEY }}

        - name: Check coverage threshold
          run: coverage report --fail-under=80

        - name: Upload coverage reports to Codecov
          uses: codecov/codecov-action@v4.0.1
          with:
            token: ${{ secrets.CODECOV_TOKEN }}
            slug: openstax/sfapi

    security:
        runs-on: ubuntu-latest
        timeout-minutes: 10

        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Set up Python
          uses: actions/setup-python@v5
          with:
              python-version-file: '.python-version'

        - name: Install dependencies
          run: pip install -r requirements/base.txt pip-audit

        - name: Run pip-audit
          run: pip-audit
